  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="./"><img src="../../../assets/imagenes/menu.png"  width="50px" class="alogo" alt=""></a>
      </div>
    </div>
  </nav>
  
  <!-- First Container -->
  <div id ="quiwn"class="container-fluid bg-1 text-center">
    <h3 class="margin">Quién Soy?</h3>
    <img src="./assets/imagenes/yo.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
    <h3>Soy hernan un alumno de la utn fra.</h3>
  </div>
  
  <!-- Second Container -->
  <div id ="que" class="container-fluid bg-2 text-center">
    <h3 class="margin">Esto es un trabajo práctico</h3>
    <p>Esto es un trabajo practico que se tiene que entregar en tiempo y forma para la aprobacion de la materia. </p>
  </div>
  
  <!-- Third Container (Grid) -->
  
  
  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    © 2020 - Todos los derechos reservados por Hernan Vilar
  </footer>